aiohttp==3.9.4
ansicon==1.89.0
art==5.2
async-timeout==3.0.1
attrs==21.2.0
blessed==1.18.1
chardet==4.0.0
discord-py-slash-command==1.2.0
discord.py==1.7.2
discordrpc==0.0.0
idna==3.7
jinxed==1.1.0
multidict==5.1.0
pypresence==4.2.0
six==1.16.0
typing-extensions==3.10.0.0
wcwidth==0.2.5
yarl==1.6.3
